.hero-inner{
    display: flex;
    flex-basis: 100%;
    background-color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    .subtitle{
      position: absolute;
      align-self: flex-end;
      padding-bottom: 15px;
      .content{
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: #ffffff;
        opacity: 0.7;
      }
    }
    
    .background-image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    
  }
  @media screen and (min-width:768px){
    .hero-inner{
      flex-basis: 50%;
    }
    .hero-inner:nth-child(1){
      padding-right: 0.5rem;
    background-clip: content-box;
    }
    .hero-inner:nth-child(2){
      padding-left: 0.5rem;
    background-clip: content-box;
    }
  }