.hero-inner{
    min-width: 45%;
    display: flex;
    flex-basis: 100%;
    background-color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    .background-image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
     & :hover{
       cursor: pointer;
       &.background-image{
         transform: scale(1.6);
         transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
       }
     }
    .subtitle{
      width: 400px;
      position: absolute;
      align-self: flex-end;
      padding-bottom: 15px;
      .content{
        width: 100%;
        padding: 35px 0;
        text-align: center;
        background-color: #ffffff;
        opacity: 1;
      }
    }
    
  }
  @media screen and (min-width:768px){
    .hero-inner{
      flex-basis: 50%;
    }
    .hero-inner:nth-child(1){
      padding-right: 0.5rem;
    background-clip: content-box;
    }
    .hero-inner:nth-child(2){
      padding-left: 0.5rem;
    background-clip: content-box;
    }
  }